h3 {
  text-align: start;
  margin-left: 10px;
}

.rating {
  background-color: blue;
  padding: 5px;
  display: inline;
  border-radius: 40px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  color: white;
}
